@import-normalize;

html {
  box-sizing: border-box;
}

html, body {
  background: black;
  color: white;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app-header, .app-scene {
  width: 100vw;
  height: 100vh;
}

.app-scene {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  transform: skew(0, -15deg);
}

.app-header svg {
  display: block;
  width: 90%;
  max-width: 1000px;
}

